/* Responsive page template - Crossfit rudis webpage */

/* PAGE GRID ******************************************************************/

body {
    display: grid;
    grid-gap: 1rem;

    /* Arrange in three rows: each as tall as their content */
    grid-template-rows: max-content max-content max-content;

    /* Arrange in two columns: 
     - right-hand-side a fixed width, 
     - left-hand-side with the remaining space */
    grid-template-columns: 1fr 10em;

    /* As a default, in case the screen is VERY wide, 
     - limit page width to a sensible maximum 
     - and centre the page in the screen */
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    /* Place navigation across the top of the page:
     - in first row, from first to last column */
    grid-row: 1;
    grid-column: 1 / -1;
}

footer {
    /* Place navigation across the top of the page:
     - in last row, from first to last column */
    grid-row: -1;
    grid-column: 1 / -1;
}

/* main and aside will be placed in middle row */


/* MAIN GRID ******************************************************************/

main {
    display: grid;
    grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  text-align: center;

.info {
  display: inline-block;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-columns: 1fr; 
}
 
}

img {
  max-width: 100%;
  height: auto;
}


main header {
    /* Place header across the top of the main element:
     - from first to last column */
    grid-column: 1 / -1;

}

/* PAGE FORMATTING ************************************************************/

body {
   background-image: url('https://images.squarespace-cdn.com/content/v1/5ab2e030e17ba3c5bae2b95f/1610639509244-DP4A1UL4H5IVCF0V4MOU/Traditional+Rudis+White+on+Black.JPG?format=1500w');
    background-size: 25%;
    background-position: cover;
    height: 50vh;
    
}
header h1 {
  font-family: Verdana, sans-serif;
  text-decoration: underline;

}


main {

  background-color: #6495ED;

}

footer {
    background-color: #444;
    color: #1E90FF ;
}

/* NAVIGATION *****************************************************************/

nav ul {
    /* The ul element is semantic, indicating that the menu options are related,
     but we don't want it to display like a bulleted list */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    /* Allow menu options to flow across the page and wrap */
    display: inline-block;

    background-color: #000000;
    border: 1px solid #fff;
    padding: 0.5rem;
}

nav a {
    color: #6495Efff* CONTENT ********************************************************************/

/* Remove gap above section headings */
h2:first-child {

    margin-top: 0;
}

/* Make space around figures respond to container size */
figure {
    margin: 100%;
}

/* Allow images to respond to container size */
.responsive {
    max-width: 100%;
    height: auto;
}

/* Add a border around each section in the main element */
main section {
    border: 1px solid #aaa;
    padding: 1rem;
}

/* MEDIA QUERIES TO REARRANGE ELEMENTS ****************************************/

/* Down to two columns of sections on smaller laptop screens */
@media screen and (max-width: 70rem) {
  section {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

    }


/* Hide sidebar column on tablets */
@media screen and (max-width: 50rem) {
    body {
        grid-template-columns: 1fr;
    }
    
}


/* Down to one columns of sections on smartphone screens */
@media screen and (max-width: 30rem) {
    main {
        grid-template-columns: 1fr;
    }

    body {
        /* Remove 8 pixel default margin around outside of page */
        margin: 0;
    }
}

/* Show menu options underneath each other on smaller smartphone screens */
@media screen and (max-width: 25rem) {
    nav li {
        display: block;
    }
}
